apiVersion: v1
kind: Pod
metadata: 
  name: pod-config-demo
  labels:
    project: roboshop
  annotations:
    jenkins.url: "https://jenkins.joindevops.com/build/5"
  
spec:
  containers:
  - name: nginx
    image: nginx
    resources:
      requests:
        cpu: "100m"
        memory: "64Mi"
      limits:
        cpu: "250m"
        memory: "128Mi"
    envFrom:
    - configMapRef:
        name: pod-config